h1{
    text-align: center;
}
  
li {
    display: inline;
    padding: 20px;
    text-decoration: none;
  }

.text-right{
    text-align: right;
 } 

.text-center {
    text-align: center;
  }

h2 {
    text-align: center;
}

h2 {
  margin: 20px;
}

 *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
 }
  
nav {
    display:block
}

body {
    position: relative;
    color: black;
    background-color: whitesmoke
}

figure {
    border: thick black solid;
    padding: 5px;
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-flow: column;
}

img {
    max-width: 600px;
    max-height: 600px;
}

figcaption {
    background-color: #4F4846;
    border: thick cyan;
    color: whitesmoke;
    padding: 5px;
    text-align: center;
}


form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 500px;
    padding: 5px;
    border: 5px solid darkslategray;
    border-radius: 10px;
  }

label{
    display: flex;
    flex-flow: column;
    display: inline-block;
    width: 100px;
}

input{
    border: black;
    max-width: 100px;  
}

header{
  height: 60px;
  width: 100%;
  line-height: 60px;
  background-color: tan;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

article{
    margin-bottom: -20px;
    padding: 0px 0px 0px 0px;
    border-top: 5px solid #DDAF94;
    background-color:  #E8CEBF;
}

nav{
    height: 40px;
    width: 100%;
    line-height: 50px;
    background-color: gray;
    color: white; 
}

a {
    text-decoration: none;
    color: #FDF8F5;
  }

footer {
    margin-top: 0;
    bottom: 0;
    background-color: darkseagreen;
    border-bottom: 10px solid #4F4846;
    color: black;    
  }

section{
    margin-bottom: 0;
    padding: 0px 0px 0px 0px;
    border-top: 3px solid darkslategray;
    background-color:  darkslategray;
} 

button {
    height: 20px;
    width: 60px;
    background-color: tan;
    color: black;
  }
   